<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261555509201-6h4h3kr4rc22fgo9tl9dl76r9qjq61h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261555509201-6h4h3kr4rc22fgo9tl9dl76r9qjq61h8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>261555509201-8tvqfnb32ip5lm0q2nqcijf1niaoand2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA33dS-YAY9tH-zyc8q2k_fXcKq-76av54</string>
	<key>GCM_SENDER_ID</key>
	<string>261555509201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasedb</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-4dc75</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-4dc75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261555509201:ios:9b48eccb4206b22975f2f0</string>
</dict>
</plist>